<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

    <div class="sidebar-wrapper">
      <div class="logo">
        <%= link_to 'Comaai', root_path, :class => 'simple-text' %>

      </div>

      <ul class="nav">

        <% if coordinator? || admin? %>
            <li class="">
              <%= link_to(raw('<i class="ti-user"></i>
            <p>Usuarios</p>'), users_path )  %>
            </li>
        <% end %>
        <% if coordinator? || professor? || admin? %>
        <li class="">
          <%= link_to(raw('<i class="ti-agenda"></i>
            <p>Cursos</p>'), courses_path )  %>
        </li>
        <% end %>
        <% if coordinator? || professor? || admin? %>
        <li class="active">
          <%= link_to(raw('<i class="ti-agenda"></i>
            <p>Grupos</p>'), groups_path )  %>
        </li>
        <% else %>
            <li class="active">
              <%= link_to(raw('<i class="ti-agenda"></i>
            <p>Mis Cursos</p>'), groups_path )  %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Grupos</a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
                <li>
                  <a>
                    <p>!Hola <%= current_user.full_name %>!</p>
                  </a>
                </li>
                <li>
                  <%= link_to(raw('<i class="ti-settings"></i> <p>Perfil</p>'), user_path(current_user)) %>
                </li>
                <li>
                  <%= link_to(raw('<i class="ti-power-off"></i>
            <p>Cerrar Sesión</p>'), logout_path, method: :delete )  %>
                </li>
            <% end %>
          </ul>

      </div>
    </nav>


    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <p id="notice"><%= notice %></p>


            <div class="card">

              <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                  <thead>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <% if coordinator? || admin? %>
                  <th>Fecha de Inicio</th>
                  <th>Fecha de Final</th>
                  <th>Activo</th>
                  <% end %>
                  <th>Curso</th>
                  <th colspan="3">
                    <% if coordinator? || admin? %>
                    <%= link_to 'Nuevo Grupo', new_group_path, :class => 'btn btn-info btn-fill btn-wd' %>
                    <% end %>
                  </th>
                  </thead>
                  <tbody>
                  <% @groups.each do |group| %>
                      <tr>
                        <td><%= group.code %></td>
                        <td><%= group.name %></td>
                        <td><%= group.description %></td>
                        <% if coordinator? || admin? %>
                        <td><%= group.startDate %></td>
                        <td><%= group.endDate %></td>
                        <td><%= group.active ? 'Activo' : 'Inactivo' %></td>
                        <% end %>
                        <td><%= group.course.name %></td>
                        <td><%= link_to 'Mostrar', group %></td>
                        <% if coordinator? || professor? || admin? %>
                        <td><%= link_to 'Editar', edit_group_path(group) %></td>
                        <% end %>
                      </tr>
                  <% end %>
                  </tbody>
                </table>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>



  </div>
</div>