<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

    <div class="sidebar-wrapper">
      <div class="logo">
        <%= link_to 'Comaai', root_path, :class => 'simple-text' %>

      </div>

      <ul class="nav">
        <% if coordinator? || admin? %>
            <li class="active">
              <%= link_to(raw('<i class="ti-user"></i>
            <p>Users</p>'), users_path )  %>
            </li>
        <% end %>
        <% if coordinator? || professor? || admin?%>
            <li>
              <%= link_to(raw('<i class="ti-agenda"></i>
            <p>Courses</p>'), courses_path )  %>
            </li>
        <% end %>

            <li>
              <%= link_to(raw('<i class="ti-agenda"></i>
            <p>Groups</p>'), groups_path )  %>
            </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Editing '+ @user.full_name , edit_user_path(@user), :class => 'navbar-brand' %>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
                <li>
                  <a>
                    <p>Hello <%= current_user.full_name %>!</p>
                  </a>
                </li>
                <li>
                  <%= link_to(raw('<i class="ti-settings"></i> <p>Profile</p>'), user_path(current_user)) %>
                </li>
                <li>
                  <%= link_to(raw('<i class="ti-power-off"></i>
            <p>Log out</p>'), logout_path, method: :delete )  %>
                </li>
            <% end %>
          </ul>

      </div>
    </nav>


    <div class="content">
      <div class="container-fluid">
        <p id="notice"><%= notice %></p>

        <div class="card">

          <div class="content">
            <%= render 'form', user: @user %>

          </div>
        </div>

        <%= link_to 'Show', @user %> |
        <%= link_to 'Back', users_path %>
      </div>
    </div>



  </div>
</div>