<p id="notice"><%= notice %></p>

<h1>gfolders</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @gfolders.each do |gfolder| %>
      <tr>
        <td><%= gfolder.name %></td>
        <td><%= gfolder.group.name %></td>
        <td><%= link_to 'Show', group_gfolder_path(@group, gfolder) %></td>
        <td><%= link_to 'Edit', edit_group_gfolder_path(@group, gfolder) %></td>
        <td><%= link_to 'Destroy', [@group, gfolder], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New gfolder', new_group_gfolder_path(@group) %>
