<%= form_with(model: ([@course, @cfolder, cpost]), local: true) do |form| %>
  <% if cpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cpost.errors.count, "error") %> prohibited this cpost from being saved:</h2>

      <ul>
      <% cpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :cpost_title, :class => 'form-control border-input'  %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :cpost_body, :class => 'form-control border-input'  %>
  </div>

  <div class="form-group">
    <%= form.label :link %>
    <%= form.text_field :link, id: :cpost_link, :class => 'form-control border-input'  %>
  </div>


  <div class="actions">
    <%= form.submit :class => 'btn btn-info btn-fill btn-wd' %>
  </div>
<% end %>
